openapi: 3.0.3
info:
  title: Convert API for Experiences Serving
  description: |
    Serve and track experiences to your users using Convert APIs and tools
  version: 1.1.0
x-tagGroups:
  - name: Client Authentication
    tags:
      - SDK Key Authentication
      - Debug Token
  - name: Configs
    tags:
      - Project Config
  - name: Visitor Data
    tags:
      - Visitor Data
  - name: Tracking
    tags:
      - Experiences Tracking
tags:
  - name: Project Config
    description: >
      Api endpoint which returns all the configuration of one project inside an
      account. 

      This can be consumed inside various fullstack sdks
  - name: Visitor Data
    description: >
      Api endpoint which returns the visitor data of one project inside an
      account. 

      This can be consumed inside various fullstack sdks
  - name: Experiences Tracking
    description: >
      Endpoint which allows tracking events to be sending to Convert's tracking
      backend
  - name: SDK Key Authentication
    description: >
      In order to authenticate requests to the Convert Tracking/Config
      API/Visitor Data API, you need to provide the SDK key secret inside the
      `Authorization` header. 


      Note: 
        * For the Projects that have `settings.disable_default_config=true` , **access will work only through the use of SDK Key Authentication** method with the associated endpoints.
        * For the Projects that have `settings.disable_default_config=false` , access will work through the use of SDK Key Authentication method with 
          the associated endpoints or without authentication, through the default endpoints.
        * An **SDK key could have a secret associated or not**. If it has a secret, it should be provided in the `Authorization` header. 
          If it doesn't have a secret, the `Authorization` header should be empty and the request would be authorized if the provided SDK key is found.
  - name: Debug Token
    description: >
      In order to return also the **draft** and **paused** experiences into the
      Convert Tracking/Config API, you need to provide the Debug Token 

      inside the `convert-debug-token` header in the form of
      `convert-debug-token: <debug_token>`. The token is a short lived one with
      a default expiration 

      of 24 hours and can be obtained/renewed by calling **[Generate Debug
      Token](/doc/v2/#tag/Projects/operation/generateDebugToken)** REST api
      endpoint.
security: []
paths:
  '/config/{account_id}/{project_id}':
    get:
      operationId: getProjectConfig
      summary: Default Get Project Config
      description: >-
        This is the default endpoint that does not need SDK Keys to returns the
        project's config to be consumed in various sdks
      tags:
        - Project Config
      parameters:
        - name: account_id
          in: path
          required: true
          description: ID of the account that owns the retrieved/saved data
          schema:
            type: integer
        - name: project_id
          in: path
          required: true
          description: ID of the project to be retrieved
          schema:
            type: integer
        - name: environment
          in: query
          description: Filter experiences based on environment.
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ProjectConfigResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
  '/config/{sdk_key}':
    get:
      operationId: getProjectConfigBySdkKey
      summary: Sdk-Key Get Project Config
      description: >-
        This endpoint returns the project's config to be consumed in various
        sdks using the SDK Key
      tags:
        - Project Config
      parameters:
        - name: sdk_key
          in: path
          required: true
          description: The SDK key used to retrieve the project's config
          schema:
            type: string
        - name: environment
          in: query
          description: Filter experiences based on environment.
          schema:
            type: string
      security:
        - sdkKeyAuth: []
        - debuggingTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ProjectConfigResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
  '/project-settings/{account_id}/{project_id}':
    get:
      operationId: getProjectSettings
      summary: Minimal Project Settings
      description: >-
        Returns a basic set of properties for the currently given config
        endpoing
      tags:
        - Project Config
      parameters:
        - name: account_id
          in: path
          required: true
          description: ID of the account that owns the retrieved/saved data
          schema:
            type: integer
        - name: project_id
          in: path
          required: true
          description: ID of the project to be retrieved
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/ProjectConfigMinimalResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
  '/project-optional-settings/{account_id}/{project_id}':
    get:
      operationId: getProjectOptionalSettings
      summary: Optional Project Settings
      description: >-
        Returns a basic set of optional project's settings for the currently
        given config endpoint
      tags:
        - Project Config
      parameters:
        - name: account_id
          in: path
          required: true
          description: ID of the account that owns the retrieved/saved data
          schema:
            type: integer
        - name: project_id
          in: path
          required: true
          description: ID of the project to be retrieved
          schema:
            type: integer
      responses:
        '200':
          $ref: '#/components/responses/ProjectConfigOptionalResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Configs** endpoints
  '/track/{sdk_key}':
    post:
      operationId: sendTrackingEventsSdkKey
      summary: Sdk-Key Send Tracking
      description: >-
        This endpoint allows sending of tracking events to the Convert tracking
        server via SDK Key authentication
      tags:
        - Experiences Tracking
      parameters:
        - name: sdk_key
          in: path
          required: true
          description: >-
            The SDK key used to identify the project where that the data belongs
            to
          schema:
            type: string
      security:
        - sdkKeyAuth: []
        - debuggingTokenAuth: []
      requestBody:
        $ref: '#/components/requestBodies/SendTrackingEventsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://metrics.convertexperiments.com/v1'
        description: Live API server for **Tracking** endpoints
      - url: 'http://trackdev.convert.com:1515/v1'
        description: Dev API server for **Tracking** endpoints
  '/track/{account_id}/{project_id}':
    post:
      operationId: sendTrackingEvents
      summary: Send Tracking
      description: >-
        This endpoint allows sending of tracking events to the Convert tracking
        server
      tags:
        - Experiences Tracking
      parameters:
        - name: account_id
          in: path
          required: true
          description: ID of the account that owns the given project
          schema:
            type: integer
        - name: project_id
          in: path
          required: true
          description: ID of the project to which the events belong to
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/SendTrackingEventsRequest'
      responses:
        '200':
          $ref: '#/components/responses/SuccessResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://metrics.convertexperiments.com/v1'
        description: Live API server for **Tracking** endpoints
      - url: 'http://trackdev.convert.com:1515/v1'
        description: Dev API server for **Tracking** endpoints
  '/visitor-data/{account_id}/{project_id}/{visitor_id}':
    get:
      operationId: getVisitorData
      summary: Get Visitor Data
      description: >-
        This is the default endpoint that does not need SDK Keys to returns the
        project's visitor data.
      tags:
        - Visitor Data
      parameters:
        - name: account_id
          in: path
          required: true
          description: ID of the account that owns the retrieved/saved data
          schema:
            type: integer
        - name: project_id
          in: path
          required: true
          description: ID of the project to be retrieved
          schema:
            type: integer
        - name: visitor_id
          in: query
          description: ID of the visitor to be retrieved
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ProjectVisitorDataResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Visitor Data** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Visitor Data** endpoints
  '/visitor-data/{sdk_key}/{visitor_id}':
    get:
      operationId: getVisitorDataBySdkKey
      summary: Sdk-Key Get Visitor Data
      description: >-
        This endpoint returns the project's visitor data to be consumed in
        various sdks using the SDK Key
      tags:
        - Visitor Data
      parameters:
        - name: sdk_key
          in: path
          required: true
          description: The SDK key used to retrieve the project's visitor data
          schema:
            type: string
        - name: visitor_id
          in: query
          description: ID of the visitor to be retrieved
          required: true
          schema:
            type: string
      security:
        - sdkKeyAuth: []
        - debuggingTokenAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ProjectVisitorDataResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    servers:
      - url: 'https://cdn-4.convertexperiments.com/api/v1'
        description: Live API server for **Visitor Data** endpoints
      - url: 'https://cdn-provider-dev.convertexperiments.com/api/v1'
        description: Live API server for **Visitor Data** endpoints
components:
  securitySchemes:
    sdkKeyAuth:
      type: apiKey
      name: Authorization
      in: header
      description: >
        See **[API Key Authentication](#tag/SDK-Key-Authentication)** for more
        information.
    debuggingTokenAuth:
      type: apiKey
      name: convert-debug-token
      in: header
      description: |
        See **[Debug Token](#tag/Debug-Token)** for more information.
  requestBodies:
    SendTrackingEventsRequest:
      required: true
      description: >-
        A JSON object containing the tracking events sent to the Convert
        tracking servers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SendTrackingEventsRequestData'
  responses:
    ProjectConfigResponse:
      description: |
        Object consumed by SDKs
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigResponseData'
    ProjectConfigMinimalResponse:
      description: |
        Object consumed by SDKs
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigMinimalResponseData'
    ProjectConfigOptionalResponse:
      description: |
        Object consumed by SDKs
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigOptionalResponseData'
    ErrorResponse:
      description: A response signaling an error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorData'
    SuccessResponse:
      description: A response signaling a generic success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessData'
    ProjectVisitorDataResponse:
      description: |
        Object consumed by SDKs
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VisitorDataResponseData'
  schemas:
    ConfigAudience:
      description: Base Audience object
      type: object
      properties:
        id:
          type: string
          description: Audience ID
        key:
          description: Audience unique key
          type: string
        name:
          type: string
          description: Audience Name
        type:
          $ref: '#/components/schemas/ConfigAudienceTypes'
        rules:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/RuleObjectAudience'
    ConfigAudienceTypes:
      description: >
        Type of the Audience. Can be one of the following: `permanent`,
        `transient`. For full-stack projects, `transient` is the only valid
        option, the rest will be ignored.

        * **permanent** - A permanent audience is one that is checked only at
        the time the user is being bucketed into the experience

        * **transient** - A transient audience is one that is checked every time
        the user is being bucketed into the experience
      type: string
      enum:
        - permanent
        - transient
    PageNumber:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: >
            The page number for paginated results. For example, if
            `results_per_page` is 30, `page: 2` will retrieve items 31-60.

            Defaults to 1 if not specified.
    Pagination:
      type: object
      properties:
        current_page:
          description: The current page number being displayed from the paginated set.
          type: integer
          minimum: 1
        items_count:
          description: >-
            The total number of items available across all pages for the current
            filter criteria.
          type: integer
          minimum: 0
        items_per_page:
          description: >-
            The number of items included in the current page of results (matches
            `results_per_page` from the request).
          type: integer
          minimum: 0
        pages_count:
          description: >-
            The total number of pages available for the current filter criteria
            and `results_per_page` setting.
          type: integer
          minimum: 0
      x-mcp-exclude-field: true
    ResultsPerPage:
      type: object
      properties:
        results_per_page:
          type: integer
          nullable: true
          minimum: 0
          maximum: 50
          default: 30
          description: >
            Specifies the maximum number of items to return in a single page of
            results.

            Used for pagination. Default is 30, maximum is 50.
    SortDirection:
      type: object
      properties:
        sort_direction:
          type: string
          nullable: true
          default: desc
          description: >
            The direction for sorting the list results, based on the `sort_by`
            field.

            - `asc`: Ascending order (e.g., A-Z, 1-10, oldest to newest).

            - `desc`: Descending order (e.g., Z-A, 10-1, newest to oldest).

            Defaults to `desc` (newest/highest first) if not specified.
          enum:
            - asc
            - desc
    OnlyCount:
      type: object
      properties:
        onlyCount:
          type: boolean
          description: >
            If set to `true` in a list request, the response will only contain
            the total count of matching items (`extra.pagination.items_count`)

            and will not include the actual item data. Useful for quickly
            getting totals without fetching full datasets.
    Extra:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
      x-mcp-exclude-field: true
    BaseRule:
      type: object
      required:
        - rule_type
      properties:
        rule_type:
          description: >
            The specific attribute or condition to evaluate. Examples: 'url',
            'cookie', 'browser_name', 'js_condition', 'page_tag_product_price'.

            The allowed `rule_type` values depend on whether the rule is for an
            Audience (which can use visitor and page content attributes if it's
            a 'segmentation' type) or a Location (typically URL or page tag
            based).
          type: string
    BaseRuleWithStringValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: The value used to match against 'rule_type' using 'matching'
              type: string
    BaseRuleWithJsCodeValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: >
                The JS code that would be executed when rule is checked. The
                return value of this JS code is what is gonna be matched


                against **true**(or **false** if **matching.negated = true** is
                provided)
              type: string
    BaseRuleWithBooleanValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: The value used to match against 'rule_type' using 'matching'
              type: boolean
    BaseRuleWithNumericValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: The value used to match against 'rule_type' using 'matching'
              type: number
    BaseRuleWithCountryCodeValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: The 2 letter ISO country code used for matching
              type: string
              minLength: 2
              maxLength: 2
    BaseRuleWithLanguageCodeValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: The 2 letter ISO language code used for matching
              type: string
              minLength: 2
              maxLength: 2
    BaseRuleWithGoalTriggeredValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: ID of the goal used for matching
              type: number
    BaseRuleWithVisitorTypeValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Type of the visitors
              type: string
              enum:
                - new
                - returning
    BaseRuleWithExperienceBucketedValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: ID of the experience used for matching
              type: number
    BaseRuleWithSegmentBucketedValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: ID of the segment used for matching
              type: number
    BaseRuleWithDayOfWeekValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Day of week used for matching
              type: number
              minimum: 1
              maximum: 7
    BaseRuleWithHourOfDayValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Hour of day used for matching
              type: number
              minimum: 0
              maximum: 24
    BaseRuleWithMinuteOfHourValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Minute of hour used for matching
              type: number
              minimum: 1
              maximum: 60
    BaseRuleWithBrowserNameValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Browser name used for matching
              type: string
              enum:
                - chrome
                - microsoft_ie
                - firefox
                - microsoft_edge
                - mozilla
                - opera
                - safari
    BaseRuleWithOsValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: Operating System name used for matching
              type: string
              enum:
                - android
                - iphone
                - ipod
                - ipad
                - windows
                - macos
                - linux
    BaseRuleWithWeatherConditionValue:
      allOf:
        - $ref: '#/components/schemas/BaseRule'
        - type: object
          properties:
            value:
              description: >
                Weather Condition name used for matching. Full or partial
                condition.


                The weather provider used by Convert detects the following
                conditions:

                - Blizzard

                - Blowing snow

                - Cloudy

                - Fog

                - Freezing drizzle

                - Freezing fog

                - Heavy freezing drizzle

                - Heavy rain

                - Heavy rain at times

                - Light drizzle

                - Light freezing rain

                - Light rain

                - Mist

                - Moderate rain

                - Moderate rain at times

                - Overcast

                - Partly cloudy
              type: string
    WeatherConditions:
      description: Standardized weather condition strings used for targeting.
      type: string
      enum:
        - Blizzard
        - Blowing snow
        - Cloudy
        - Fog
        - Freezing drizzle
        - Freezing fog
        - Heavy freezing drizzle
        - Heavy rain
        - Heavy rain at times
        - Light drizzle
        - Light freezing rain
        - Light rain
        - Mist
        - Moderate rain
        - Moderate rain at times
        - Overcast
        - Partly cloudy
        - Patchy freezing drizzle possible
        - Patchy light drizzle
        - Patchy light rain
        - Patchy rain possible
        - Patchy sleet possible
        - Patchy snow possible
        - Sunny
        - Thundery outbreaks possible
    BaseMatch:
      type: object
      properties:
        negated:
          description: >
            If `true`, the logical result of the match is inverted.

            For example, if `match_type` is 'contains' and `value` is 'apple',
            `negated: true` means the rule matches if the attribute *does not*
            contain 'apple'.
          type: boolean
    TextMatchRulesTypes:
      type: string
      enum:
        - url
        - url_with_query
        - query_string
        - campaign
        - keyword
        - medium
        - source_name
        - city
        - region
        - browser_version
        - user_agent
        - page_tag_page_type
        - page_tag_category_id
        - page_tag_category_name
        - page_tag_product_sku
        - page_tag_product_name
        - page_tag_customer_id
        - page_tag_custom_1
        - page_tag_custom_2
        - page_tag_custom_3
        - page_tag_custom_4
        - visitor_id
    NumericMatchRulesTypes:
      type: string
      enum:
        - avg_time_page
        - days_since_last_visit
        - pages_visited_count
        - visit_duration
        - visits_count
        - page_tag_product_price
    BoolMatchRulesTypes:
      type: string
      enum:
        - bucketed_into_experience
        - is_desktop
        - is_mobile
        - is_tablet
    GenericTextKeyValueMatchRulesTypes:
      type: string
      enum:
        - generic_text_key_value
    GenericNumericKeyValueMatchRulesTypes:
      type: string
      enum:
        - generic_numeric_key_value
    GenericBoolKeyValueMatchRulesTypes:
      type: string
      enum:
        - generic_bool_key_value
    VisitorDataExistsMatchRulesTypes:
      type: string
      enum:
        - visitor_data_exists
    JsConditionMatchRulesTypes:
      type: string
      enum:
        - js_condition
    KeyValueMatchRulesTypes:
      allOf:
        - $ref: '#/components/schemas/GenericTextKeyValueMatchRulesTypes'
        - $ref: '#/components/schemas/GenericNumericKeyValueMatchRulesTypes'
        - $ref: '#/components/schemas/GenericBoolKeyValueMatchRulesTypes'
    CookieMatchRulesTypes:
      type: string
      enum:
        - cookie
    CountryMatchRulesTypes:
      type: string
      enum:
        - country
    VisitorTypeMatchRulesTypes:
      type: string
      enum:
        - visitor_type
    LanguageMatchRulesTypes:
      type: string
      enum:
        - language
    GoalTriggeredMatchRulesTypes:
      type: string
      enum:
        - goal_triggered
    SegmentBucketedMatchRulesTypes:
      type: string
      enum:
        - bucketed_into_segment
    DayOfWeekMatchRulesTypes:
      type: string
      enum:
        - local_time_day_of_week
        - project_time_day_of_week
    HourOfDayMatchRulesTypes:
      type: string
      enum:
        - local_time_hour_of_day
        - project_time_hour_of_day
    MinuteOfHourMatchRulesTypes:
      type: string
      enum:
        - local_time_minute_of_hour
        - project_time_minute_of_hour
    BrowserNameMatchRulesTypes:
      type: string
      enum:
        - browser_name
    OsMatchRulesTypes:
      type: string
      enum:
        - os
    WeatherConditionMatchRulesTypes:
      type: string
      enum:
        - weather_condition
    RulesTypes:
      allOf:
        - $ref: '#/components/schemas/TextMatchRulesTypes'
        - $ref: '#/components/schemas/NumericMatchRulesTypes'
        - $ref: '#/components/schemas/BoolMatchRulesTypes'
        - $ref: '#/components/schemas/KeyValueMatchRulesTypes'
        - $ref: '#/components/schemas/VisitorDataExistsMatchRulesTypes'
        - $ref: '#/components/schemas/CookieMatchRulesTypes'
        - $ref: '#/components/schemas/CountryMatchRulesTypes'
        - $ref: '#/components/schemas/VisitorTypeMatchRulesTypes'
        - $ref: '#/components/schemas/LanguageMatchRulesTypes'
        - $ref: '#/components/schemas/GoalTriggeredMatchRulesTypes'
        - $ref: '#/components/schemas/SegmentBucketedMatchRulesTypes'
        - $ref: '#/components/schemas/DayOfWeekMatchRulesTypes'
        - $ref: '#/components/schemas/HourOfDayMatchRulesTypes'
        - $ref: '#/components/schemas/MinuteOfHourMatchRulesTypes'
        - $ref: '#/components/schemas/BrowserNameMatchRulesTypes'
        - $ref: '#/components/schemas/OsMatchRulesTypes'
        - $ref: '#/components/schemas/WeatherConditionMatchRulesTypes'
    GenericTextMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithStringValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/TextMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/TextMatchingOptions'
    GenericNumericMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithNumericValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/NumericMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/NumericMatchingOptions'
    GenericBoolMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithBooleanValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/BoolMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    GenericSetMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithStringValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              type: string
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/SetMatchingOptions'
    GenericKey:
      type: object
      properties:
        key:
          description: >-
            The name of the key whose value will be retrieved and compared
            against the rule's `value`.
          type: string
    GenericTextKeyValueMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithStringValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/GenericTextKeyValueMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/TextMatchingOptions'
        - $ref: '#/components/schemas/GenericKey'
    GenericNumericKeyValueMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithNumericValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/GenericNumericKeyValueMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/NumericMatchingOptions'
        - $ref: '#/components/schemas/GenericKey'
    GenericBoolKeyValueMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithBooleanValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/GenericBoolKeyValueMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
        - $ref: '#/components/schemas/GenericKey'
    VisitorDataExistsMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithBooleanValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/VisitorDataExistsMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    CookieMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithStringValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/CookieMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/CookieMatchingOptions'
            key:
              description: >-
                The name of the cookie which value is compared to the given rule
                value
              type: string
    CountryMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithCountryCodeValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/CountryMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    JsConditionMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithJsCodeValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/JsConditionMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    VisitorTypeMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithVisitorTypeValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/VisitorTypeMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    LanguageMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithLanguageCodeValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/LanguageMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    GoalTriggeredMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithGoalTriggeredValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/GoalTriggeredMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    SegmentBucketedMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithSegmentBucketedValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/SegmentBucketedMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    ExperienceBucketedMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithExperienceBucketedValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              type: string
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    DayOfWeekMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithDayOfWeekValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/DayOfWeekMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/NumericMatchingOptions'
    HourOfDayMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithHourOfDayValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/HourOfDayMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/NumericMatchingOptions'
    MinuteOfHourMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithMinuteOfHourValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/MinuteOfHourMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/NumericMatchingOptions'
    BrowserNameMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithBrowserNameValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/BrowserNameMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    OsMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithOsValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/OsMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/ChoiceMatchingOptions'
    WeatherConditionMatchRule:
      allOf:
        - $ref: '#/components/schemas/BaseRuleWithWeatherConditionValue'
        - type: object
          required:
            - rule_type
          properties:
            rule_type:
              $ref: '#/components/schemas/WeatherConditionMatchRulesTypes'
            matching:
              allOf:
                - $ref: '#/components/schemas/BaseMatch'
                - type: object
                  properties:
                    match_type:
                      $ref: '#/components/schemas/TextMatchingOptions'
    RuleElementNoUrl:
      oneOf:
        - $ref: '#/components/schemas/GenericTextMatchRule'
        - $ref: '#/components/schemas/GenericNumericMatchRule'
        - $ref: '#/components/schemas/GenericBoolMatchRule'
        - $ref: '#/components/schemas/CookieMatchRule'
        - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
        - $ref: '#/components/schemas/CountryMatchRule'
        - $ref: '#/components/schemas/LanguageMatchRule'
        - $ref: '#/components/schemas/GoalTriggeredMatchRule'
        - $ref: '#/components/schemas/SegmentBucketedMatchRule'
        - $ref: '#/components/schemas/DayOfWeekMatchRule'
        - $ref: '#/components/schemas/HourOfDayMatchRule'
        - $ref: '#/components/schemas/MinuteOfHourMatchRule'
        - $ref: '#/components/schemas/BrowserNameMatchRule'
        - $ref: '#/components/schemas/OsMatchRule'
        - $ref: '#/components/schemas/WeatherConditionMatchRule'
        - $ref: '#/components/schemas/VisitorTypeMatchRule'
        - $ref: '#/components/schemas/JsConditionMatchRule'
        - $ref: '#/components/schemas/VisitorDataExistsMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          visitor_id: '#/components/schemas/GenericTextMatchRule'
          visitor_data_exists: '#/components/schemas/VisitorDataExistsMatchRule'
    RuleElement:
      oneOf:
        - $ref: '#/components/schemas/GenericTextMatchRule'
        - $ref: '#/components/schemas/GenericNumericMatchRule'
        - $ref: '#/components/schemas/GenericBoolMatchRule'
        - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
        - $ref: '#/components/schemas/CookieMatchRule'
        - $ref: '#/components/schemas/CountryMatchRule'
        - $ref: '#/components/schemas/LanguageMatchRule'
        - $ref: '#/components/schemas/GoalTriggeredMatchRule'
        - $ref: '#/components/schemas/SegmentBucketedMatchRule'
        - $ref: '#/components/schemas/DayOfWeekMatchRule'
        - $ref: '#/components/schemas/HourOfDayMatchRule'
        - $ref: '#/components/schemas/MinuteOfHourMatchRule'
        - $ref: '#/components/schemas/BrowserNameMatchRule'
        - $ref: '#/components/schemas/OsMatchRule'
        - $ref: '#/components/schemas/WeatherConditionMatchRule'
        - $ref: '#/components/schemas/VisitorTypeMatchRule'
        - $ref: '#/components/schemas/JsConditionMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
    RuleElementAudience:
      oneOf:
        - $ref: '#/components/schemas/GenericTextMatchRule'
        - $ref: '#/components/schemas/GenericNumericMatchRule'
        - $ref: '#/components/schemas/GenericBoolMatchRule'
        - $ref: '#/components/schemas/GenericTextKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericNumericKeyValueMatchRule'
        - $ref: '#/components/schemas/GenericBoolKeyValueMatchRule'
        - $ref: '#/components/schemas/CookieMatchRule'
        - $ref: '#/components/schemas/CountryMatchRule'
        - $ref: '#/components/schemas/LanguageMatchRule'
        - $ref: '#/components/schemas/GoalTriggeredMatchRule'
        - $ref: '#/components/schemas/SegmentBucketedMatchRule'
        - $ref: '#/components/schemas/DayOfWeekMatchRule'
        - $ref: '#/components/schemas/HourOfDayMatchRule'
        - $ref: '#/components/schemas/MinuteOfHourMatchRule'
        - $ref: '#/components/schemas/BrowserNameMatchRule'
        - $ref: '#/components/schemas/OsMatchRule'
        - $ref: '#/components/schemas/WeatherConditionMatchRule'
        - $ref: '#/components/schemas/VisitorTypeMatchRule'
        - $ref: '#/components/schemas/JsConditionMatchRule'
        - $ref: '#/components/schemas/VisitorDataExistsMatchRule'
      discriminator:
        propertyName: rule_type
        mapping:
          url: '#/components/schemas/GenericTextMatchRule'
          url_with_query: '#/components/schemas/GenericTextMatchRule'
          query_string: '#/components/schemas/GenericTextMatchRule'
          campaign: '#/components/schemas/GenericTextMatchRule'
          keyword: '#/components/schemas/GenericTextMatchRule'
          medium: '#/components/schemas/GenericTextMatchRule'
          source_name: '#/components/schemas/GenericTextMatchRule'
          avg_time_page: '#/components/schemas/GenericNumericMatchRule'
          city: '#/components/schemas/GenericTextMatchRule'
          country: '#/components/schemas/CountryMatchRule'
          region: '#/components/schemas/GenericTextMatchRule'
          days_since_last_visit: '#/components/schemas/GenericNumericMatchRule'
          language: '#/components/schemas/LanguageMatchRule'
          pages_visited_count: '#/components/schemas/GenericNumericMatchRule'
          goal_triggered: '#/components/schemas/GoalTriggeredMatchRule'
          visit_duration: '#/components/schemas/GenericNumericMatchRule'
          cookie: '#/components/schemas/CookieMatchRule'
          visitor_type: '#/components/schemas/VisitorTypeMatchRule'
          visits_count: '#/components/schemas/GenericNumericMatchRule'
          bucketed_into_experience: '#/components/schemas/GenericBoolMatchRule'
          bucketed_into_segment: '#/components/schemas/SegmentBucketedMatchRule'
          local_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          local_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          local_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          project_time_day_of_week: '#/components/schemas/DayOfWeekMatchRule'
          project_time_hour_of_day: '#/components/schemas/HourOfDayMatchRule'
          project_time_minute_of_hour: '#/components/schemas/MinuteOfHourMatchRule'
          browser_name: '#/components/schemas/BrowserNameMatchRule'
          browser_version: '#/components/schemas/GenericTextMatchRule'
          os: '#/components/schemas/OsMatchRule'
          user_agent: '#/components/schemas/GenericTextMatchRule'
          is_desktop: '#/components/schemas/GenericBoolMatchRule'
          is_mobile: '#/components/schemas/GenericBoolMatchRule'
          is_tablet: '#/components/schemas/GenericBoolMatchRule'
          js_condition: '#/components/schemas/JsConditionMatchRule'
          page_tag_page_type: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_category_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_sku: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_name: '#/components/schemas/GenericTextMatchRule'
          page_tag_product_price: '#/components/schemas/GenericNumericMatchRule'
          page_tag_customer_id: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_1: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_2: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_3: '#/components/schemas/GenericTextMatchRule'
          page_tag_custom_4: '#/components/schemas/GenericTextMatchRule'
          weather_condition: '#/components/schemas/WeatherConditionMatchRule'
          generic_text_key_value: '#/components/schemas/GenericTextKeyValueMatchRule'
          generic_numeric_key_value: '#/components/schemas/GenericNumericKeyValueMatchRule'
          generic_bool_key_value: '#/components/schemas/GenericBoolKeyValueMatchRule'
          visitor_id: '#/components/schemas/GenericTextMatchRule'
          visitor_data_exists: '#/components/schemas/VisitorDataExistsMatchRule'
    TextMatchingOptions:
      type: string
      enum:
        - matches
        - regexMatches
        - contains
        - endsWith
        - startsWith
    CookieMatchingOptions:
      type: string
      enum:
        - matches
        - regexMatches
        - contains
        - endsWith
        - startsWith
        - exists
        - doesNotExist
    NumericMatchingOptions:
      type: string
      enum:
        - equalsNumber
        - less
        - lessEqual
    ChoiceMatchingOptions:
      type: string
      enum:
        - equals
    ChoiceContainsOptions:
      type: string
      enum:
        - contains
    SetMatchingOptions:
      type: string
      enum:
        - isIn
    RuleObject:
      type: object
      nullable: true
      description: >
        Defines the logical structure for combining multiple rule conditions. It
        uses a nested OR -> AND -> OR_WHEN structure.

        - The top-level `OR` array means if *any* of its contained AND blocks
        evaluate to true, the entire rule set is true.

        - Each object within the `OR` array has an `AND` array. For this AND
        block to be true, *all* of its contained OR_WHEN blocks must evaluate to
        true.

        - Each object within the `AND` array has an `OR_WHEN` array. For this
        OR_WHEN block to be true, *any* of its individual `RuleElement`
        conditions must evaluate to true.

        This structure allows for complex logical expressions like `(CondA AND
        CondB) OR (CondC AND CondD)`.
      properties:
        OR:
          description: >-
            An array of AND-blocks. The overall rule matches if any of these
            AND-blocks match.
          type: array
          items:
            type: object
            properties:
              AND:
                description: >-
                  An array of OR_WHEN-blocks. This AND-block matches if all its
                  OR_WHEN-blocks match.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: >-
                        An array of individual rule elements. This OR_WHEN-block
                        matches if any of its rule elements match.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElement'
    RuleObjectNoUrl:
      type: object
      nullable: true
      description: >
        Similar to `RuleObject`, but the individual `RuleElementNoUrl`
        conditions within `OR_WHEN` arrays cannot include URL-based matching
        types.

        Used for 'permanent' or 'transient' audiences where URL context is not
        persistently evaluated or relevant for the audience type.
      properties:
        OR:
          description: An array of AND-blocks.
          type: array
          items:
            type: object
            properties:
              AND:
                description: An array of OR_WHEN-blocks.
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: >-
                        An array of individual rule elements that do not involve
                        URL matching.
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElementNoUrl'
    RuleObjectAudience:
      type: object
      nullable: true
      description: >-
        This one describes a logical rule that is being used inside the app for
        triggering goals, matching audiences etc
      properties:
        OR:
          description: >-
            This describes an outer set of blocks which are evaluated using OR's
            between them
          type: array
          items:
            type: object
            properties:
              AND:
                description: >-
                  This describes a colections of logical blocks which are
                  evaluated using AND's between them
                type: array
                items:
                  type: object
                  properties:
                    OR_WHEN:
                      description: >-
                        This describes a colections of logical blocks which are
                        evaluated using OR's between them
                      type: array
                      items:
                        $ref: '#/components/schemas/RuleElementAudience'
    Base64Image:
      type: object
      properties:
        data:
          description: The base64 encoded string representation of the image's binary data.
          type: string
    ErrorData:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        fields:
          type: string
    SuccessData:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ImportProjectDataSuccess:
      allOf:
        - $ref: '#/components/schemas/SuccessData'
        - type: object
          properties:
            imported:
              type: object
              description: List of imported objects
              properties:
                experiences:
                  type: array
                  description: List of created experiences. Empty if nothing imported
                  items:
                    type: integer
                audiences:
                  type: array
                  description: List of created audiences. Empty if nothing imported
                  items:
                    type: integer
                locations:
                  type: array
                  description: List of created locations. Empty if nothing imported
                  items:
                    type: integer
                goals:
                  type: array
                  description: List of created goals. Empty if nothing imported
                  items:
                    type: integer
                hypothesis:
                  type: array
                  description: List of created hypothesis. Empty if nothing imported
                  items:
                    type: integer
    BulkSuccessData:
      allOf:
        - $ref: '#/components/schemas/SuccessData'
        - type: object
          properties:
            code:
              type: integer
              format: int32
            errors:
              type: array
              description: >-
                List of unprocessed entities. Would be empty, if all passed
                entities processed
              items:
                $ref: '#/components/schemas/BulkEntityError'
    BulkEntityError:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          description: The unique identifier of the entity that could not be processed.
        message:
          type: string
          description: >-
            A message explaining the reason for the failure for this specific
            entity.
    UTC_Offset:
      type: integer
      description: 'Offset in seconds, from UTC time, for the give timezone'
      default: 0
      minimum: -43200
      maximum: 50400
    GA_SettingsBase:
      type: object
      properties:
        enabled:
          type: boolean
          description: >-
            If true, integration with Google Analytics is enabled for this
            project or experience, allowing experiment data to be sent to GA.
    IntegrationGA3:
      type: object
      properties:
        type:
          enum:
            - ga3
        property_UA:
          type: string
          maxLength: 150
          nullable: true
          description: >-
            The Universal Analytics Property ID (e.g., "UA-XXXXXXXX-Y") to which
            Convert experiment data will be sent.
    IntegrationGA4Base:
      type: object
      properties:
        type:
          enum:
            - ga4
        measurementId:
          type: string
          description: >-
            The GA4 Measurement ID (e.g., "G-XXXXXXXXXX") for the data stream
            where Convert experiment data will be sent.
    IntegrationGA4:
      allOf:
        - $ref: '#/components/schemas/IntegrationGA4Base'
        - type: object
          properties:
            propertyId:
              type: string
              description: >-
                ID of the ga4 property where data will be sent. Used internally
                for API calls to GoogleAnalytics
    GenericListMatchingOptions:
      type: string
      enum:
        - any
        - all
      description: >
        Defines how multiple conditions within a list (e.g., multiple audiences
        or locations linked to an experience) are logically combined:

        - `any`: The overall condition is met if *at least one* item in the list
        matches (logical OR).

        - `all`: The overall condition is met only if *all* items in the list
        match (logical AND).

        Default is typically 'any' (OR).
      default: any
    VisitorInsightsBase:
      type: object
      properties:
        enabled:
          type: boolean
          description: >
            If true, Convert Signals™ is enabled for the project, allowing the
            system to capture sessions exhibiting user frustration or usability
            issues.
        obfuscate_text:
          type: boolean
          default: false
          description: >
            True when all text elements (apart from placeholders) should be
            obfuscated inside a recording.
        sampling_rate:
          type: integer
          default: 5
          enum:
            - 5
            - 10
            - 20
            - 30
            - 40
            - 50
          description: >
            The percentage of visitors included in sampling for Convert Signals
            session recordings and Heatmaps for this project.

            Higher values collect data from a larger share of traffic and
            consume allocation faster.
        heatmap_visits_limit:
          type: integer
          default: 2500
          enum:
            - 2500
            - 5000
            - 10000
            - 15000
          description: >
            Maximum number of visits per variation used when generating a
            heatmap for this project.

            Applies to newly created heatmaps when an experience is activated.
    NumericOutlierTypes:
      description: >
        The method used for detecting and handling order outliers in revenue or
        product count tracking:

        - `none`: No outlier detection is applied.

        - `min_max`: Orders with values below a specified minimum or above a
        specified maximum are capped at those boundaries.

        - `percentile`: Orders falling below a lower percentile or above an
        upper percentile are capped at the values corresponding to those
        percentiles.
      type: string
      enum:
        - none
        - min_max
        - percentile
    NumericOutlierBase:
      type: object
      properties:
        detection_type:
          $ref: '#/components/schemas/NumericOutlierTypes'
      required:
        - detection_type
    NumericOutlierNone:
      allOf:
        - $ref: '#/components/schemas/NumericOutlierBase'
        - type: object
          additionalProperties: false
          properties:
            detection_type:
              enum:
                - none
    NumericOutlierMinMax:
      allOf:
        - $ref: '#/components/schemas/NumericOutlierBase'
        - type: object
          additionalProperties: false
          properties:
            detection_type:
              enum:
                - min_max
            min:
              type: number
              description: >-
                Minimum value for the outlier detection, under which, the value
                is considered an outlier
            max:
              type: number
              description: >-
                Maximum value for the outlier detection, over which, the value
                is considered an outlier
    NumericOutlierPercentile:
      allOf:
        - $ref: '#/components/schemas/NumericOutlierBase'
        - type: object
          additionalProperties: false
          properties:
            detection_type:
              enum:
                - percentile
            min:
              allOf:
                - description: >-
                    Minimum percentile value for the outlier detection; values
                    outside this percentile are considered outliers
                - $ref: '#/components/schemas/Percentiles'
            max:
              allOf:
                - description: >-
                    Maximum percentile value for the outlier detection; values
                    outside this percentile are considered outliers
                - $ref: '#/components/schemas/Percentiles'
    NumericOutlier:
      oneOf:
        - $ref: '#/components/schemas/NumericOutlierNone'
        - $ref: '#/components/schemas/NumericOutlierMinMax'
        - $ref: '#/components/schemas/NumericOutlierPercentile'
      discriminator:
        propertyName: detection_type
        mapping:
          none: '#/components/schemas/NumericOutlierNone'
          min_max: '#/components/schemas/NumericOutlierMinMax'
          percentile: '#/components/schemas/NumericOutlierPercentile'
    Percentiles:
      type: number
      description: >
        Standard percentile values used for outlier detection thresholds.

        For example, a `min` of 5 and `max` of 95 means orders in the bottom 5%
        and top 5% of values are considered outliers and capped.
      enum:
        - 1
        - 5
        - 10
        - 25
        - 50
        - 75
        - 90
        - 95
        - 99
    TimeRange:
      type: object
      properties:
        start_time:
          type: number
          nullable: true
          description: >-
            Unix timestamp (seconds since epoch, UTC) marking the beginning of
            the time range. If null, implies from the beginning of data.
        end_time:
          type: number
          nullable: true
          description: >-
            Unix timestamp (seconds since epoch, UTC) marking the end of the
            time range. If null, implies up to the current time.
        utc_offset:
          $ref: '#/components/schemas/UTC_Offset'
    UploadedFileData:
      type: object
      description: File Object
      additionalProperties: false
      properties:
        key:
          description: Storage key of the uploaded file.
          type: string
          maxLength: 500
        name:
          description: Original name of the uploaded file.
          type: string
          maxLength: 250
        url:
          description: Endpoint to access the file resource associated with the project.
          type: string
          readOnly: true
          example: >-
            https://api.convert.com/api/v2/accounts/{account_id}/projects/{project_id}/files/{fileKey}
    ConcurrencyKey:
      type: string
      nullable: true
      description: >-
        A server-generated hash that represents the object's state at the time
        of retrieval. When included in an update request, the operation will
        only succeed if the object hasn't been modified since this key was
        obtained. If another update has occurred in the meantime, the request
        will fail with a conflict error, requiring you to fetch the latest
        version and retry your update with the new concurrency_key. This
        implements optimistic concurrency control to prevent lost updates in
        concurrent scenarios.
    ConfigResponseData:
      type: object
      description: >-
        Response containing project's config data needed in order to serve
        experiences
      properties:
        account_id:
          type: string
          description: Account ID under which the project exists
        project:
          $ref: '#/components/schemas/ConfigProject'
        goals:
          description: List of goals to be tracked in the project
          type: array
          items:
            $ref: '#/components/schemas/ConfigGoal'
        locations:
          description: List of locations that are used inside this project
          type: array
          items:
            $ref: '#/components/schemas/ConfigLocation'
        audiences:
          description: List of audiences that are used inside this project
          type: array
          items:
            $ref: '#/components/schemas/ConfigAudience'
        segments:
          description: List of custom that are devined inside this project
          type: array
          items:
            $ref: '#/components/schemas/ConfigSegment'
        experiences:
          description: List of active experiences inside this project
          type: array
          items:
            $ref: '#/components/schemas/ConfigExperience'
        archived_experiences:
          description: >-
            List of archived experiences inside this project, which were
            archived within the last 8 months
          type: array
          items:
            type: string
            description: Experience ID
        features:
          description: >-
            List of features inside this project. Presented only for fullstack
            projects
          type: array
          items:
            $ref: '#/components/schemas/ConfigFeature'
        is_debug:
          type: boolean
          description: Flag indicating if the returned config is in debug mode
          default: false
    ConfigMinimalResponseData:
      allOf:
        - type: object
          description: >
            Limited data containing critical properties required for
            decision-making when assembling and 

            tracking various bundles (e.g., tracking scripts).
          properties:
            account_id:
              description: Account ID
              type: string
            project_id:
              description: Project ID
              type: string
        - $ref: '#/components/schemas/ConfigProjectMinimalSettings'
    ConfigOptionalResponseData:
      type: object
      description: >
        Limited data containing optional properties required for decision-making
        when assembling and 

        tracking various bundles (e.g., tracking scripts).
      properties:
        account_id:
          description: Account ID
          type: string
        project_id:
          description: Project ID
          type: string
        visitor_insights:
          $ref: '#/components/schemas/VisitorInsightsData'
    ExperienceChangeBase:
      description: >-
        The fundamental structure representing a single modification applied
        within an experience's variation. The specific content and behavior of
        the change are determined by its `type` and detailed in the `data`
        object.
      type: object
      properties:
        type:
          type: string
          enum:
            - richStructure
            - customCode
            - defaultCode
            - defaultCodeMultipage
            - defaultRedirect
            - fullStackFeature
        data:
          description: >
            A flexible object containing the specific details and content for
            this change, structured according to the change `type`.

            For example, for `customCode`, it would contain `js` and `css`
            strings. For `defaultRedirect`, it would contain `original_pattern`
            and `variation_pattern`.

            This field is included by default when fetching a single
            `ExperienceChange` but might be omitted in list views unless
            specified in an `include` parameter.
          type: object
    ExperienceChangeId:
      description: >-
        Represents the unique identifier of an existing change within an
        experience variation. Used when updating or referencing a specific
        change.
      type: object
      additionalProperties: false
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
      required:
        - id
    ExperienceChangeIdReadOnly:
      description: >-
        Represents the unique identifier of a change, typically when returned by
        the API after creation or in a list.
      type: object
      properties:
        id:
          description: The unique numerical identifier for this specific change.
          type: integer
          readOnly: true
    ExperienceChangeServing:
      description: Object that represents one change done inside an experience
      oneOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataServing'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataServing'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataServing'
        - $ref: '#/components/schemas/ExperienceChangeCustomCodeDataServing'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataServing'
        - $ref: '#/components/schemas/ExperienceChangeFullStackFeatureServing'
      discriminator:
        propertyName: type
        mapping:
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeDataServing'
          defaultCodeMultipage: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataServing'
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectDataServing'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeDataServing'
          richStructure: '#/components/schemas/ExperienceChangeRichStructureDataServing'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeatureServing'
    ExperienceChange:
      description: >-
        Represents a single, specific modification applied as part of an
        experience's variation. The exact structure and content depend on the
        `type` of change.
      oneOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeData'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageData'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectData'
        - $ref: '#/components/schemas/ExperienceChangeCustomCodeData'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureData'
        - $ref: '#/components/schemas/ExperienceChangeFullStackFeature'
      discriminator:
        propertyName: type
        mapping:
          richStructure: '#/components/schemas/ExperienceChangeRichStructureData'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeData'
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeData'
          defaultCodeMultipage: '#/components/schemas/ExperienceChangeDefaultCodeMultipageData'
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectData'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeature'
    ExperienceChangeAdd:
      description: >-
        Data structure for adding a new change to an experience variation. The
        `id` field is omitted as it will be assigned upon creation.
      oneOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataAdd'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataAdd'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataAdd'
        - $ref: '#/components/schemas/ExperienceChangeCustomCodeDataAdd'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataAdd'
        - $ref: '#/components/schemas/ExperienceChangeFullStackFeatureAdd'
      discriminator:
        propertyName: type
        mapping:
          richStructure: '#/components/schemas/ExperienceChangeRichStructureDataAdd'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeDataAdd'
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeDataAdd'
          defaultCodeMultipage: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataAdd'
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectDataAdd'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeatureAdd'
    ExperienceChangeUpdate:
      description: >-
        Data structure for updating an existing change within an experience
        variation. Requires the `id` of the change to be modified.
      oneOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataUpdate'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataUpdate'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataUpdate'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataUpdate'
        - $ref: '#/components/schemas/ExperienceChangeCustomCodeDataUpdate'
        - $ref: '#/components/schemas/ExperienceChangeFullStackFeatureUpdate'
      discriminator:
        propertyName: type
        mapping:
          richStructure: '#/components/schemas/ExperienceChangeRichStructureDataUpdate'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeDataUpdate'
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeDataUpdate'
          defaultCodeMultipage: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataUpdate'
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectDataUpdate'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeatureUpdate'
    ExperienceChangeUpdateNoId:
      description: >-
        Data structure for defining a change when updating a collection of
        changes (e.g., within a variation update), where the `id` might be part
        of a parent object or implied.
      oneOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataUpdateNoId'
        - $ref: >-
            #/components/schemas/ExperienceChangeDefaultCodeMultipageDataUpdateNoId
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataUpdateNoId'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataUpdateNoId'
        - $ref: '#/components/schemas/ExperienceChangeCustomCodeDataUpdateNoId'
        - $ref: '#/components/schemas/ExperienceChangeFullStackFeatureUpdateNoId'
      discriminator:
        propertyName: type
        mapping:
          richStructure: '#/components/schemas/ExperienceChangeRichStructureDataUpdateNoId'
          customCode: '#/components/schemas/ExperienceChangeCustomCodeDataUpdateNoId'
          defaultCode: '#/components/schemas/ExperienceChangeDefaultCodeDataUpdateNoId'
          defaultCodeMultipage: >-
            #/components/schemas/ExperienceChangeDefaultCodeMultipageDataUpdateNoId
          defaultRedirect: '#/components/schemas/ExperienceChangeDefaultRedirectDataUpdateNoId'
          fullStackFeature: '#/components/schemas/ExperienceChangeFullStackFeatureUpdateNoId'
      x-mcp-exclude-field: true
    ExperienceChangeDefaultCodeDataBase:
      type: object
      description: >-
        Defines a standard code-based change, typically generated by the Visual
        Editor for modifications like text replacement, style changes, or
        element removal. It can include CSS, Convert's internal JS
        representation, and custom JS.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeBase'
        - type: object
          properties:
            type:
              enum:
                - defaultCode
            data:
              type: object
              description: Describes structure for "defaultCode" type of experience change
              additionalProperties: false
              properties:
                css:
                  type: string
                  nullable: true
                  description: CSS code to be applied by this change
                js:
                  type: string
                  nullable: true
                  description: >-
                    Javascript code generated by the visual editor or written in
                    the same structure, to be applied by this experience change
                custom_js:
                  type: string
                  description: Custom javascript code to be applied by this change
                  nullable: true
    ExperienceChangeDefaultCodeData:
      type: object
      description: >-
        Represents a 'defaultCode' type change, including its system-assigned
        ID.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceChangeDefaultCodeDataServing:
      type: object
      description: Describes structure for "defaultCode" type of experience change
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
    ExperienceChangeDefaultCodeDataAdd:
      type: object
      description: Data for creating a new 'defaultCode' type change.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
        - properties:
            data:
              required:
                - js
                - css
                - custom_js
          required:
            - type
            - data
    ExperienceChangeDefaultCodeDataUpdateNoId:
      type: object
      description: >-
        Data for updating a 'defaultCode' type change when its ID is managed
        externally.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeDefaultCodeDataUpdate:
      type: object
      description: >-
        Data for updating an existing 'defaultCode' type change, identified by
        its `id`.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeId'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
    ExperienceChangeDefaultRedirectDataBase:
      type: object
      description: >-
        Defines a URL redirect, typically used in Split URL experiments. It
        specifies how to match an original URL and construct the URL for the
        variation page.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeBase'
        - type: object
          properties:
            type:
              enum:
                - defaultRedirect
            data:
              type: object
              description: >-
                Describes structure for "defaultRedirect" type of experience
                change
              additionalProperties: false
              properties:
                case_sensitive:
                  type: boolean
                  description: Defines whether the URL matching is case sensitive or not
                original_pattern:
                  type: string
                  description: >-
                    Pattern for matching the Original URL in order to construct
                    the redirect URL
                variation_pattern:
                  type: string
                  description: >-
                    String used to construct the variation redirect URL. This
                    string can contain matches from original_url or it can be a
                    standard URL
    ExperienceChangeDefaultRedirectData:
      type: object
      description: >-
        Represents a 'defaultRedirect' type change, including its
        system-assigned ID.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceChangeDefaultRedirectDataServing:
      type: object
      description: Describes structure for "defaultRedirect" type of experience change
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
    ExperienceChangeDefaultRedirectDataAdd:
      type: object
      description: Data for creating a new 'defaultRedirect' type change.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
        - properties:
            data:
              required:
                - original_pattern
                - variation_pattern
          required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeDefaultRedirectDataUpdateNoId:
      type: object
      description: >-
        Data for updating a 'defaultRedirect' type change when its ID is managed
        externally.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeDefaultRedirectDataUpdate:
      type: object
      description: >-
        Data for updating an existing 'defaultRedirect' type change, identified
        by its `id`.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeId'
        - $ref: '#/components/schemas/ExperienceChangeDefaultRedirectDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
    ExperienceChangeDefaultCodeMultipageDataBase:
      type: object
      description: >-
        Defines a standard code-based change that applies to a specific page
        within a Multi-page Funnel experiment. This allows different code (CSS,
        JS) to be applied to different steps of the funnel for the same
        variation.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeBase'
        - type: object
          properties:
            type:
              enum:
                - defaultCodeMultipage
            data:
              type: object
              description: >-
                Describes structure for "defaultCodeMultipage" type of
                experience change
              additionalProperties: false
              properties:
                css:
                  type: string
                  nullable: true
                  description: CSS code to be applied by this change
                js:
                  type: string
                  nullable: true
                  description: >-
                    Javascript code generated by the visual editor or written in
                    the same structure, to be applied by this experience change
                custom_js:
                  type: string
                  description: Custom javascript code to be applied by this change
                  nullable: true
                page_id:
                  description: The **id** of the page connected to this change.
                  type: string
    ExperienceChangeDefaultCodeMultipageData:
      type: object
      description: >-
        Represents a 'defaultCodeMultipage' type change, including its
        system-assigned ID.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceChangeDefaultCodeMultipageDataServing:
      type: object
      description: Describes structure for "defaultCodeMultipage" type of experience change
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
    ExperienceChangeDefaultCodeMultipageDataAdd:
      type: object
      description: Data for creating a new 'defaultCodeMultipage' type change.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
        - properties:
            data:
              required:
                - page_id
          required:
            - type
            - data
    ExperienceChangeDefaultCodeMultipageDataUpdateNoId:
      type: object
      description: >-
        Data for updating a 'defaultCodeMultipage' type change when its ID is
        managed externally.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeDefaultCodeMultipageDataUpdate:
      type: object
      description: >-
        Data for updating an existing 'defaultCodeMultipage' type change,
        identified by its `id`.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeId'
        - $ref: '#/components/schemas/ExperienceChangeDefaultCodeMultipageDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
    ExperienceChangeRichStructureDataBase:
      type: object
      description: >-
        Defines a complex change, often involving multiple DOM manipulations or
        structured data, typically generated by advanced Visual Editor
        interactions or specific integrations. (Primarily for internal or
        advanced programmatic use).
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeBase'
        - type: object
          properties:
            type:
              enum:
                - richStructure
            data:
              type: object
              description: Describes structure for "defaultCode" type of experience change
              additionalProperties:
                type: string
                description: Various key - value data
              properties:
                js:
                  type: string
                  nullable: true
                  description: >-
                    Javascript code generated by the visual editor or written in
                    the same structure, to be applied by this experience change
                selector:
                  type: string
                  description: >-
                    CSS selector of the element to which the change refers to,
                    if this is a change concerning one DOM element
                page_id:
                  description: >-
                    The **id** of the page connected to this change, in case
                    this is a **multi-page** experiment
                  type: string
      x-mcp-exclude-field: true
    ExperienceChangeRichStructureData:
      type: object
      description: >-
        Represents a 'richStructure' type change, including its system-assigned
        ID.
      x-mcp-exclude-field: true
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
    ExperienceChangeRichStructureDataServing:
      type: object
      description: Describes structure for "defaultCode" type of experience change
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataBase'
      x-mcp-exclude-field: true
    ExperienceChangeRichStructureDataAdd:
      type: object
      description: Data for creating a new 'richStructure' type change.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeIdReadOnly'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataBase'
        - properties:
            data:
              required:
                - js
          required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeRichStructureDataUpdateNoId:
      type: object
      description: >-
        Data for updating a 'richStructure' type change when its ID is managed
        externally.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeRichStructureDataUpdate:
      type: object
      description: >-
        Data for updating an existing 'richStructure' type change, identified by
        its `id`.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeId'
        - $ref: '#/components/schemas/ExperienceChangeRichStructureDataBase'
        - type: object
          properties:
            concurrency_key:
              $ref: '#/components/schemas/ConcurrencyKey'
        - required:
            - type
            - data
      x-mcp-exclude-field: true
    ExperienceChangeCustomCodeDataBase:
      type: object
      description: >-
        Defines a change applied purely through custom-written CSS and/or
        JavaScript code, bypassing the Visual Editor's generated code. This
        offers maximum flexibility for developers.
      allOf:
        - $ref: '#/components/schemas/ExperienceChangeBase'
        - type: object
          properties:
            type:
              enum:
                - customCode
            data:
              type: object
              description: Describes structure for "defaultCode" type of experience change
              additionalProperties: false
              properties:
                css:
                  type: string
                  nullable: true
                  description: CSS code to be applied by this change
                js:
                  type: string
                  description: Custom javascript code to be applied by this change
                  nullable: true
                page_id:
[...]
